*{margin:0;padding:0;}  
body {
	width:1000px;
	height:auto;
	background:#FFFFFF; 
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	
	
}
/*
-----------------------------------------------------------------------------------------
Global
-------------------------------------------------------------------------------------- */

div {position:relative;}
#printwrap {position:static;}
h4, h5 {margin:10px 15px;}
ul, ol {
	margin:15px;
	padding:0 0 0 25px;
}
	ol {padding:0 0 0 30px;}
.clearer {clear:both;}

#printwrap {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*
-----------------------------------------------------------------------------------------
General Layout Structure
--------------------------------------------------------------------------------------*/
#nav-top, #nav-left, #nav-right {
	width:1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	border:1px solid #000000;
	
}
* html #nav-top,* html #nav-left, * html #nav-right {
	overflow:visible;
	}
*+html #nav-top,*+html #nav-left, *+html #nav-right {
	overflow:visible;
	}
#accent-wrapper{
	width:416px;
	height:256px;
	top:0px;
	left:0px;
	float:left;
}
.accent{
	float:left;
	width:416px;
	height:auto;
}
#dummy {
	width:1000px;
	height:auto;
	margin-top:-256px;
	z-index:-1;
	float:right;
}
#headertop {
	width:1000px;
	height:197px;
	float:left;
}

#headertop #titlebox {
	position:absolute;
	bottom: 0;
	
	
}
 #headertop #website-title {
 
 	float:right;
	width:474px;
	height:auto;
	text-align:left;
	padding-right:100px;
	
}
#slogan_wrapper{
	float:right;
	width:584px;	
	height:58px;
	border-top: 1px solid #FFFFFF;	
	}
 

#slogan_wrapper #website-slogan {
	padding-top:15px;
	padding-left:15px;
	padding-bottom:21px;
	height:auto;
	text-align:left;
	padding-right:100px;
	
}
* html #slogan_wrapper #website-slogan {
	padding-bottom:22px;
	}
*+html #slogan_wrapper #website-slogan {
	padding-bottom:24px;
	}

/*------------------ nav-top ------------------*/
#nav-top #navcontainer {
	float:left;
	/*clear:left;*/
	width:1000px;
	z-index:1000;
	
	}
	
*html #nav-top #navcontainer {
	width:920px;
}
	#nav-top #content {
	float:left;
	width:1000px;
	
	}

#nav-top #footer {
	width:840px;
	padding:5px;
	clear:both;
	
}
/*------------------ nav-left ------------------*/

#nav-left #navcontainer {
	
	float:left;
	clear:right;
	width:130px;
	top:40px;
	z-index:1000;
	left:0px;
}

#nav-left #content {
	float:left;	
	width:1000px;
	
	}

#nav-left  #footer {
	width:810px;
	padding:5px;
	clear:left;
	padding-top:40px;
	padding-left:30px;
}
*html #nav-left  #footer {
margin-top:40px;
padding-top:0px;
}
/*------------------ nav-right ------------------*/
#nav-right #content {
	width:1000px;
	float:left;
	
}
#nav-right #navcontainer {
	float:right;
	clear:right;
	top:40px;
	width:150px;	
	z-index:1000;
	margin-right:10px;
	
}
*html #nav-right #navcontainer{
width:130px;
margin-right:0px;
right:80px;
}
#nav-right #content #footer {
	width:810px;
	padding:5px;
	clear:right;
	
	padding-top:35px;
	margin-left:30px;
}
*html #nav-right #content #footer {
margin-top:35px;
padding-top:0px;
	
}
/*
-----------------------------------------------------------------------------------------
Navigation Elements
-------------------------------------------------------------------------------------- */
/*------------------ nav-top ------------------*/	
#nav-top #navcontainer div, #nav-top #navcontainer div h3 {
	float:left;
	display:block;
	cursor:pointer;
	padding-bottom:3px;
}
	#nav-top #navcontainer div a:link, #nav-top #navcontainer div a:active, #nav-top #navcontainer div a:visited {
		float:left;
		border-right:1px solid #fff;
		padding:10px 10px 10px 10px;
		text-decoration:none;
		white-space: nowrap;
	}
	#nav-top #navcontainer div a:hover {border-left:0;}
		#nav-top #navcontainer div div.submenu, #nav-top #navcontainer div div.submenu h3 {
			float:left;
			display:none;
		}
		#nav-top #navcontainer div div.submenu {
			position:absolute;
			left:0px;
			top:0px;
			width:175px;
			visibility:hidden;
		}
			#nav-top #navcontainer div div.submenu div {display:none; top:-1px;}
			#nav-top #navcontainer div div.submenu a:link, #nav-top #navcontainer div div.submenu a:active, #nav-top #navcontainer div div.submenu a:visited {
				float:left;
				/*---ie broswer width---*/
				width:175px;
				border:1px solid #fff;
				padding:10px 10px 10px 10px;
				text-decoration:none;
				/*---Proper width for all other browsers---*/
					voice-family: "\"}\"";
					voice-family:inherit;
					
			}
			
			#nav-top #navcontainer div div.submenu a:hover {text-decoration:none;}
/*------------------ nav-left ------------------*/	
#nav-left #navcontainer div, #nav-left #navcontainer div h3 {
	float:left;
	display:block;
	cursor:pointer;
	
}
* html #nav-left #navcontainer div h3 {
	
	padding-bottom:3px;
}
	#nav-left #navcontainer div a:link, #nav-left #navcontainer div a:active, #nav-left #navcontainer div a:visited {
		float:left;
		/*---ie broswer width---*/
		width:130px;
		padding:10px 10px 10px 10px;
		text-decoration:none;
		border-bottom:1px solid #fff;
		/*---Proper width for all other browsers---*/
			voice-family: "\"}\"";
			voice-family:inherit;
			
			word-wrap: break-word;
	}
	#nav-left #navcontainer div a:hover {border-left:0;}
		#nav-left #navcontainer div div.submenu, #nav-left #navcontainer div div.submenu h3 {
			float:left;
			display:none;
		}
		#nav-left #navcontainer div div.submenu {
			position:absolute;
			left:100px;
			top:0px;
			width:180px;
			visibility:hidden;
		}
			#nav-left #navcontainer div div.submenu div {display:none;}
			#nav-left #navcontainer div div.submenu a:link, #nav-left #navcontainer div div.submenu a:active, #nav-left #navcontainer div div.submenu a:visited {
				float:left;
				width:180px;
				border:1px solid #fff;
				padding:10px 10px 10px 10px;
				text-decoration:none;
				word-wrap: break-word;
			}
			#nav-left #navcontainer div div.submenu a:hover {text-decoration:none;}
/*------------------ nav-right ------------------*/	
#nav-right #navcontainer div, #nav-right #navcontainer div h3 {
	float:left;
	display:block;
	cursor:pointer;
}
* html #nav-right #navcontainer div h3 {
	padding-bottom:3px;
}
	#nav-right #navcontainer div a:link, #nav-right #navcontainer div a:active, #nav-right #navcontainer div a:visited {
		float:left;
		/*---ie broswer width---*/
		width:150px;
			padding:10px 10px 10px 10px;
			text-decoration:none;
			border-bottom:1px solid #fff;
		/*---Proper width for all other browsers---*/
			voice-family: "\"}\"";
			voice-family:inherit;
			word-wrap: break-word;
	}
	* html #nav-right #navcontainer div a:link, * html #nav-right #navcontainer div a:active, * html #nav-right #navcontainer div a:visited {
		width:130px;
	}
	#nav-right #navcontainer div a:hover {border-left:0;}
		#nav-right #navcontainer div div.submenu, #nav-right #navcontainer div div.submenu h3 {
			float:left;
			display:none;
		}
		#nav-right #navcontainer div div.submenu {
			position:absolute;
			top:0px;
			width:180px;
			visibility:hidden;
		}
			#nav-right #navcontainer div div.submenu div {display:none;right:22px;}
			#nav-right #navcontainer div div.submenu a:link, #nav-right #navcontainer div div.submenu a:active, #nav-right #navcontainer div div.submenu a:visited {
				float: left;
				border:1px solid #fff;
				padding:10px 10px 10px 10px;
				
				/*---Proper width for all other browsers---*/
			voice-family: "\"}\"";
			voice-family:inherit;
			width:180px;
			text-decoration:none;
			word-wrap: break-word;
			}
			*html #nav-right #navcontainer div div.submenu div{
			right:0px;
			}
			
			#nav-right #navcontainer div div.submenu a:hover {text-decoration:none;}

/*
-----------------------------------------------------------------------------------------
Table Structures
-------------------------------------------------------------------------------------- */

/*------------------ nav-top ------------------*/	
#nav-top #content-table {
	width:800px;
	float:left;
	margin-left:50px;
}
*html #nav-top #content-table {
	
	margin-left:25px;
}
	
#nav-top #content-table-main{
	width:100%;
	}
		#nav-top #content-table-main p {margin:25px 10px 15px 10px;}

/*------------------ nav-left ------------------*/	
#nav-left #content-table {
	
	width:670px;	
	margin-left:60px;
	margin-top:10px;
}
*html #nav-left #content-table {
	margin-left:0px;
	
}
#nav-left #content-table-main {
width:100%;
}
		#nav-left #content-table-main p {margin:25px 0px 15px 15px;}
		*+html #nav-left #content-table-main p {margin:25px 0px 15px 55px;}
/*------------------ nav-right ------------------*/	
#nav-right #content-table {
	width:750px;
	margin-top:10px;
	margin-left:15px;
}

	#nav-right #content-table-main {width:100%;}
		#nav-right #content-table-main p {margin:25px 20px 15px 15px;}

